@(name: String, isEnable: Boolean = false)

<html>
    <head>
        <title>@name</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <script src='@routes.Assets.versioned("javascripts/main.js")' type="text/javascript"></script>
    </head>

    <body>
        <p>Hello there, @name.toUpperCase</p>

        <a href="@routes.HelloController.hello()">hello</a>

        @* href 에 아래 처럼 하면 안된다 *@
        @* <a href='@views.html.hello("windbird")'>hello</a> *@

        <br />
        <br />

        <label>
            <input type="checkbox" @if(isEnable) { checked }>
        </label>

        @if(isEnable) {
            <p>It's enabled</p>
        } else {
            <p>It's disabled</p>
        }

        <p>@(1 + 1) == @(2) is @(1 + 1 == 2)</p>
        <p>@List("foo", "bar", "baz")</p>
        <p>@Some(0).filter(_ == 0)</p>

        <p>The answer is @{
            val a = 3
            val b = 4
            a + b
        }</p>

        <p>max is @math.max(1, 3)</p>

        <ul>
        @for(x <- 1 to 3) {
            <li>Item @x</li>
        }
        </ul>

        <p>@println("Hi")</p> @* Unit expressions yield no content *@

        <p>
        @List(1, 2, 3) match {
            case Nil => { // 반드시 중괄호가 있어야 한다.
                <em>empty</em>
            }

            case a :: b => {
                <em>list contains @a</em>
            }
        }
        </p>

        @defining(1 + 2 + 3) { sum =>
            <p>The answer is @sum</p>
        }

    </body>
</html>