@(section: String)

@import views.html.knit._

@main("profile") {
    <html>
        <body>
            <ul class="nav nav-tabs flex-nowrap" role="tablist">
                <li class="nav-item">
                    <a class='nav-link text-truncate @if(section == "Active") { active }' role="tab" href='@routes.KnitController.profile("Active")'>
                        Active</a>
                </li>
                <li class="nav-item">
                    <a class='nav-link text-truncate @if(section == "Link") { active }' role="tab" href='@routes.KnitController.profile("Link")'>Link</a>
                </li>
            </ul>

            @section match {
                case "Active" => {
                    <h1>Active ..</h1>
                }

                case "Link" => {
                    <h1>Link ..</h1>
                }
            }
        </body>
    </html>
}
